body {
   margin: 0;
   padding: 0;
}

h1 {
   margin: 10px;
   padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #04052E;
}

ul li {
  float: left;
  margin: 5px;
  padding: 5px;
}

ul li a {
  display: block;
  color: white;
  margin: 15px;
  text-align: center;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}



.calculator {
   width: 100%;
   max-width: 600px;
   background-color: #333;
   padding: 30px;
   padding-right: 50px;
   border-radius: 15px;
   text-align: center;
}


#display {
   width: 100%;
   height: 80px;
   font-size: 36px;
   text-align: right;
   padding: 15px;
   margin-bottom: 20px;
   border-radius: 10px;
   border: none;
   background-color: #222;
   color: #fff;
}

.buttons {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 15px;
}

.btn {
   width: 100%;
   padding: 30px;
   font-size: 24px;
   border: none;
   border-radius: 10px;
   background-color: #666;
   color: #fff;
   cursor: pointer;
   transition: background-color 0.2s;
}

.btn:hover {
   background-color: #555;
}

.operator {
   background-color: #04052E;
}

.operator:hover {
   background-color: #140152;
}

.btn:active {
   background-color: #444;
}

.operator:active {
   background-color: #cc7a00;
}