/* NAVIGATION MENU */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  margin-top: 40px;
  text-align: center;
}

.navbar a{
   background-color: #140152;
   margin: 5px;
   padding: 15px;
   text-decoration: none;
   font-size: large;
   border-radius: 30px;
   text-align: center;
   color: white;
}

.navbar a:hover {
  text-decoration: underline;
}

/* NAVIGATION MENU */

main {
   margin-top: 140px;
   justify-content: center;
   margin-bottom: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
}


h1 h2 {
   text-align: center;
   width: 100%;
   max-width: 600px;
}

.description {
  max-width: 600px;
  font-size: large;
  text-align: left;
  width: 100%;
}

/* CALCULATOR */
.calculator {
   width: 100%;
   max-width: 600px;
   background-color: #333;
   padding: 30px;
   padding-right: 30px;
   border-radius: 15px;
   text-align: center;
}

#display {
   width: 100%;
   height: 80px;
   font-size: 36px;
   text-align: right;
   padding: 5px;
   margin-bottom: 20px;
   border-radius: 10px;
   border: none;
   background-color: #222;
   color: #fff;
}

.buttons {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 15px;
}

.btn {
   width: 100%;
   padding: 30px;
   font-size: 24px;
   border: none;
   border-radius: 10px;
   background-color: #666;
   color: #fff;
   cursor: pointer;
   transition: background-color 0.2s;
}

.btn:hover {
   background-color: #555;
}

.operator {
   background-color: #04052E;
}

.operator:hover {
   background-color: #140152;
}

.btn:active {
   background-color: #444;
}

.operator:active {
   background-color: #cc7a00;
}
/* CALCULATOR */

/* FOOTER */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-size: large;
}

footer p {
   text-align: center !important;
   margin: 0 auto;
   width: 100%;
}

/* FOOTER */
