{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}

<h1>About</h1>
<div class="description">
    <p>
        This is a calculator web app. The web app's functionality is built off of HTML, CSS, and JavaScript.
        The "How to Use" and "About" pages consist of HTML and CSS.
        The Flask web framework builds the structure and connectivity of the app's components.
        <br><br>
        The repository consists of a multitude of components. The "static" folder contains the CSS file.
        The "templates" folder holds base HTML file and the additional, extending HTML files.
        The "app.py" file connects the HTML files. The "requirements.txt" file lists the packages required for the program to run.
        <b>Corrections to the code were made by DeepSeek AI.</b>
    </p>
</div>

<h2>Sources</h2>
<div class="description">
    <p>
        <a href="https://www.tutorialspoint.com/python/building_a_web_based_calculator_with_flask.htm" target="_blank" rel="noopener noreferrer">Building a Web Based Calculator with Flask</a><br>
        <a href="https://www.youtube.com/watch?v=oQ5UfJqW5Jo" target="_blank" rel="noopener noreferrer">Full Flask Course for Python - From Basics to Deployment</a><br>
        <a href="https://www.studytonight.com/cascading-style-sheet/styling-link-into-nice-button" target="_blank" rel="noopener noreferrer">Styling Link into Nice Button</a><br>
        <a href="https://www.w3schools.com/howto/howto_css_fixed_menu.asp" target="_blank" rel="noopener noreferrer">How To Create a Fixed Top Menu</a><br>
    </p>
</div>
{% endblock %}