<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Value{% endblock %}</title>
    <link rel="stylesheet" href="static\style.css">
</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Calculator</a>
        <a href="{{ url_for('how_to_use') }}">How to Use</a>
        <a href="{{ url_for('about') }}">About</a>
    </div>

    <main>{% block content %}{% endblock %}</main>
    <footer><p>Devon Cenario © 2025. CIS 2020-001.</p></footer>
</body>
</html>

