<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Value{% endblock %}</title>
    <link rel="stylesheet" href="static\style.css">
</head>

<body>
    <ul>
        <li><a href="{{ url_for('index') }}">Arithmetic Calculator</a></li>
        <li><a href="{{ url_for('matrix_addition') }}">Matrix Addition<a></li>
        <li><a href="{{ url_for('matrix_subtraction') }}">Matrix Subtraction</a></li>
    </ul>
    {% block content %}{% endblock %}
</body>
</html>

