{% extends "base.html" %}
{% block title %}How To Use{% endblock %}

{% block content %}
<h1>How To Use</h1>
<div class="description">
    <p>
        To use the calculator, click the appropriate numbered buttons and functional buttons.
        This calculator is an arithmetic calculator. It supports the following functionality: addition, subtraction, division, and multiplication.
        
        <br><br><b><p>Choose the "About" page to learn more about the underlying program.</p></b>
    </p>
</div>
{% endblock %}